<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../src/css/home.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Nuestra Página de Inicio</h1>
        <nav>
            <ul>
                <li><button id="index">index</button></li>
                <li><button id="parte1b">Parte 1</button></li>
                <li><button id="parte2b">Parte 2</button></li>
                <li><button id="parte3b">Parte 3</button></li>
            </ul>
        </nav>
    </header>
    <main>
      
    </main>
    <div id="parte1">
        <p>Contenido de la Parte 1</p>
        <section>
            <h2>Nuestros Servicios</h2>
            <p>Ofrecemos una variedad de servicios para satisfacer tus necesidades.</p>
        </section>
        <section>
            <h2>Últimas Noticias</h2>
            <p>Mantente al día con nuestras últimas actualizaciones y noticias.</p>
        </section>
    </div>
    <div id="parte2" style="display:none;">
        <p>Contenido de la Parte 2</p>
        <div id="welcome">
            <p>Bienvenido, <span id="username"></span>!</p>
        </div>
    </div>
    <div id="parte3" style="display:none;">
        <p>Contenido de la Parte 3</p>
    </div>
    <footer>
        <p>&copy; 2023 Nuestra Empresa. Todos los derechos reservados.</p>
    </footer>
    <script type="module" src="../js/controllers/home.js"></script>
</body>
</html>