<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../src/css/home.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Nuestra Página de Inicio</h1>
        <nav>
            <ul>
                <li><button id="index">index</button></li>
                <li><button id="listadob">listado</button></li>
                <li><button id="masinfob">mas info</button></li>
               
            </ul>
        </nav>
    </header>
    <main>
      
    </main>
    <div id="listado">
        <p>Contenido del listado</p>
        
    </div>
    <div id="masinfo" style="display:none;">
        <p>Contenido del masinfo</p>
    </div>
  
    <footer>
        <p>&copy; 2023 Nuestra Empresa. Todos los derechos reservados.</p>
    </footer>
    <script type="module" src="../js/controllers/usuario.js"></script>
</body>
</html>